body {
  background-color: #61B0B0;
  color: #747474;
}
.container {
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;

}
.jumbotron {
  background-image: url("../img/macbook.jpeg");
  height: 400px;
  background-position: center;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.btn {
  border: solid;
  background-color: #AAD5D5;
}
.color{
  color: #61B0B0;
  font-weight: bold;
}
#cs, #ruby, #php, #java {
  display: none;
}
#result {
  margin: 30px 30px;
  font-size: 1.5em;
}

#emailInsert {
  text-decoration: underline;
}
#nameInsert{
  font-color: #82CAFF;
  font-family: sans-serif;
}
