ines (29 sloc)  479 Bytes
.container {
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;

}
.jumbotron {
  background-color: #82CAFF;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  text-align: center;
}
.btn {
  border: solid;
}
#results {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
#emailInsert {
  text-decoration: underline;
}
#trackInsert{
  font-color: #82CAFF;
  font-family: sans-serif;
  text-d
