.container {
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;

}
.jumbotron {
  background-image: url("../img/computer.jpeg");
  background-position: center;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}
.btn {
  border: solid;
}
#cs, #ruby, #php, #java {
  display: none;
}

#emailInsert {
  text-decoration: underline;
}
#trackInsert{
  font-color: #82CAFF;
  font-family: sans-serif;
  text-d
